body{
    padding: 5px;
    font-family: 'DynaPuff';
    background-color: hsla(240, 100%, 25%, 0.2);
    box-sizing: border-box;
}

#head{
    width: auto;
    height: 200px;
    display: block;
    position: relative;
    text-align: center;

}


#head::after{
    content: '';
    background-image: url(../images/1673316.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.48;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    border-radius: 10px;
}

#oog{
    color: black;
    text-decoration: none;
}

nav ul{
    display: flex;
    margin: 10px;
    padding: 5px;
    gap: 20px;
  
}

nav li{
    flex: auto;

}

a:hover{
    background-color: hsla(240, 100%, 50%, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.whatwedo{
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    border-radius: 8px;
    width: auto;
    height: auto;
    display: block;
    position: relative;
    text-align: center;
}

.whatwedo::after{
    content: '';
    background-image: url(../images/wp2691568.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

#whatwedo{
    display: grid;
    column-gap: 15px;
    grid-template-columns: auto auto auto;
    padding: 10px;
    margin: 2px;
    row-gap: 10px;

}

#grid_upgrade{
    text-align: center;
    border: 1px solid black;
    padding: 1px;
    background-color: #aaa9ad;
    border-radius: 8px;

}

#grid_network{
    text-align: center;
    border: 1px solid black;
    padding: 1px;
    background-color: #aaa9ad;
    border-radius: 8px;
}

#grid_cctv{
    text-align: center;
    border: 1px solid black;
    padding: 1px;
    background-color: #aaa9ad;
    border-radius: 8px;
}

#grid_web{
    text-align: center;
    border: 1px solid black;
    padding: 1px;
    background-color: #aaa9ad;
    border-radius: 8px;
  
}

.responsive{
    max-width: 150px;
    height: auto;
}

#grid_cyber{
    text-align: center;
    border: 1px solid black;
    padding: 1px;
    background-color: #aaa9ad;
    border-radius: 8px;
}

.project{
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    border-radius: 8px;
    width: auto;
    height: auto;
    display: block;
    position: relative;
    text-align: center;
}

.project::after{
    content: '';
    background-image: url(../images/projects.jpeg);
    background-size: cover;
    background-repeat: no-repeat; 
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

#projects{
    display: grid;
    column-gap: 15px;
    grid-template-columns: auto auto auto;
    padding: 10px;
    margin: 2px;
    row-gap: 10px;
}

#grid_dasmoto{
    text-align: center;
    border: 1px solid black;
    padding: 1px;
    background-color: #aaa9ad;
    border-radius: 8px;

}

#grid_cheatsheet{
    text-align: center;
    border: 1px solid black;
    padding: 1px;
    background-color: #aaa9ad;
    border-radius: 8px;

}

#grid_club{
    text-align: center;
    border: 1px solid black;
    padding: 1px;
    background-color: #aaa9ad;
    border-radius: 8px;

}

#grid_web{
    text-align: center;
    border: 1px solid black;
    padding: 1px;
    background-color: #aaa9ad;
    border-radius: 8px;

}

#grid_homepage{
    text-align: center;
    border: 1px solid black;
    padding: 1px;
    background-color: #aaa9ad;
    border-radius: 8px;

}

#grid_jamming{
    text-align: center;
    border: 1px solid black;
    padding: 1px;
    background-color: #aaa9ad;
    border-radius: 8px;

}

h2{
    text-align: center;
    color:#aaa9ad;
    text-decoration: underline;
}

h3{
    color: white;
}

.contact{
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    border-radius: 8px;
    background-image: url(../images/contact.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

#contact{
    padding: 10px;
    text-align: center;
    border-radius: 8px;

}

#footer{
    font-size: 15px;
}
