body{
    padding: 5px;
    background-color: lightblue;
    font-family: 'DynaPuff';
}


#img_header{
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

nav ul{
    display: flex;
    margin: 10px;
    padding: 5px;
    gap: 20px;
  
}

nav li{
    flex: auto;

}

a:hover{
    background-color: hsla(240, 100%, 50%, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.whatwedo{
    border: 1px solid black;
    background-image: url(../images/wp2691568.jpg) ;
    margin: 5px;
    padding: 5px;
    border-radius: 8px;

}

#whatwedo{
    display: grid;
    column-gap: 15px;
    grid-template-columns: auto auto auto;
    padding: 10px;
    margin: 2px;
    row-gap: 10px;

}

#grid_upgrade{
    text-align: center;
    border: 1px solid black;
    padding: 1px;
    background-color: #aaa9ad;
    border-radius: 8px;

}

#grid_network{
    text-align: center;
    border: 1px solid black;
    padding: 1px;
    background-color: #aaa9ad;
    border-radius: 8px;
}

#grid_cctv{
    text-align: center;
    border: 1px solid black;
    padding: 1px;
    background-color: #aaa9ad;
    border-radius: 8px;
}

#grid_web{
    text-align: center;
    border: 1px solid black;
    padding: 1px;
    background-color: #aaa9ad;
    border-radius: 8px;
  
}

#grid_cyber{
    text-align: center;
    border: 1px solid black;
    padding: 1px;
    background-color: #aaa9ad;
    border-radius: 8px;
}

.project{
    border: 1px solid black;
    background-image: url() ;
    margin: 5px;
    padding: 5px;
    border-radius: 8px;
}

#projects{
    display: grid;
    column-gap: 15px;
    grid-template-columns: auto auto auto;
    padding: 10px;
    margin: 2px;
    row-gap: 10px;
}

#grid_dasmoto{
    text-align: center;
    border: 1px solid black;
    padding: 1px;
    background-color: #aaa9ad;
    border-radius: 8px;
}

#grid_cheatsheet{
    text-align: center;
    border: 1px solid black;
    padding: 1px;
    background-color: #aaa9ad;
    border-radius: 8px;
}

#grid_club{
    text-align: center;
    border: 1px solid black;
    padding: 1px;
    background-color: #aaa9ad;
    border-radius: 8px;
}

#grid_web{
    text-align: center;
    border: 1px solid black;
    padding: 1px;
    background-color: #aaa9ad;
    border-radius: 8px;
}

#grid_homepage{
    text-align: center;
    border: 1px solid black;
    padding: 1px;
    background-color: #aaa9ad;
    border-radius: 8px;
}



#grid_jamming{
    text-align: center;
    border: 1px solid black;
    padding: 1px;
    background-color: #aaa9ad;
    border-radius: 8px;
}




h2{
    text-align: center;
    color:#aaa9ad;
    text-decoration: underline;
}

h3{
    color: white;
}

.contact{
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    border-radius: 8px;
}

#contact{
    background-color: hsla(240, 100%, 50%, 0.8);
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    border-radius: 8px;
}

#footer{
    font-size: 15px;
}
